/* WeatherData.css */

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .weather-data {
    margin-top: 20px;
  }
  
  .city {
    font-size: 24px;
    font-weight: bold;
  }
  
  .temp {
    font-size: 48px;
    margin-top: 10px;
  }
  
  .weather {
    font-size: 20px;
  }
  
  .message {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .error-message {
    color: #dc3545;
  }
  
  .success-message {
    color: #28a745;
  }
  

  /* Slider btton */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  